/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
} */

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@keyframes fillbar1 {
  from {width: 0;}
  to {width: 80%;}
}
@keyframes fillbar2{
  from {width: 0;}
  to {width: 60%;}
}
@keyframes fillbar3 {
  from {width: 0;}
  to {width: 24%;}
}
@keyframes fillbar4 {
  from {width: 0;}
  to {width: 96%;}
}




/* navbar */

nav{
  display: flex;
  height: 70px;
  border-bottom: 1px solid rgb(194, 193, 193);
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin: 30px;
  cursor: pointer;
}

.profile{
  display: flex;
  align-items: center;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 10px;
  margin: 30px;
  cursor: pointer;
}

.profile_img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
}

.name{
  margin: 5px;
  font-weight: 600;
}



/* POPUP */

.popup_main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_box{
  width: 50rem;
  border: 1px solid rgb(186, 186, 186);
  padding: 10px;
  border-radius: 10px;
}

.scores{
  display: flex;
  border-bottom: 1px solid rgb(194, 193, 193);
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 30px 20px;
  padding: 10px 0 30px 0;
}

.scores > h1{
  font-weight: 600;
  font-size: 2.3rem;
}

.scores > img{
  height: 50px;
}

.input_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 20px;
}

.input_query{
  display: flex;
}

.input_number{
  color: white;
  background-color: #142683;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 100%;
  margin-right: 20px;
}

.input_text{
  font-size: 1.13rem;
  color: rgb(95, 95, 95);
}

.input_text > span{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.input_box > input{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid blue;
  color: #142683;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.input_buttons{
  display: flex;
  justify-content: end;
  width: 90%;
  margin: auto;
}

.inputes > hr{
  margin: 20px;
  opacity: .7;
}

/* .input_buttons > button{ */
button{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 7px 20px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #142683;
  cursor: pointer;
}

.cancel_btn{
  background-color: white;
  color: #142683;
}

.save_btn{
  background-color: #142683;
  color: white;
}

.save_btn > span{
  font-size: 16px;
  margin-left: 10px;
}




/* HOMEPAGE */

.homepage{
  display: flex;
  flex-direction: row;
}





/* SIDEBAR */

aside{
  width: 200px;
  border-right: 1px solid rgb(194, 193, 193);
  padding: 50px 30px 0 0;
}

.side_item{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  border-radius: 0 30px 30px 0;
  font-weight: 600;
  cursor: pointer;
  color: rgb(95, 95, 95);
}

.side_item > span{
  margin: 0 10px 0 20px;
}

.active_side_item{
  background-color: rgb(247, 248, 250);
  color: rgb(68, 94, 226);
}

.side_item:hover{
  background-color: rgb(247, 248, 250);
  color: rgb(68, 94, 226);
}




/* Main.jsx */

main{
  /* border: 2px solid black; */
  width: 55%;
  margin: 30px;
}

.skill_test_heading{
  font-size: .8rem;
  color: rgb(70, 70, 70);
}

.box{
  align-items: center;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 10px;
  margin: 30px 0;
  padding: 30px 20px;
}

.update_box {
  display: flex;
  justify-content: space-between  ;
}

.update_box > div{
  display: flex;
  align-items: center;
}

.update_box > div > img{
  width: 50px;
}

.update_text{
  margin: 0 10px;
}

.update_heading{
  font-weight: 600;
  margin-bottom: 5px;
}

.update_box > button{
  font-size: 1rem;
  padding: 10px 30px;
}



.stats_boxes{
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  /* justify-content: space-around; */
  margin: 30px 0 0;
}

.stats_box{
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 30% auto;
  /* justify-content: space-between; */
  gap: 15px;
  align-items: center;
}

.stat_img{
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid rgb(194, 193, 193);
  background-color: rgb(247, 248, 250);
  border-radius: 100%;
}

.stats_value{
  font-size: 1.5rem;
  font-weight: 600;
}

.stats_data > p{
  opacity: .6;
}


/* Comparison Graph */



.graph_top{
  display: grid;
  grid-template-columns: 85% 15%;
  gap: 1.2rem;
  align-items: center;
}

.graph_description{
  padding: 1rem 0 0;
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.graph_description > span{
  color: rgb(72, 72, 72);
  font-weight: 600;
}

.line_graph{
  height: 20rem;
}





/* RIGHT SIDEBAR */

.right_sidebar{
  width: 25%;
  margin-top: 45px;
}

.syllabus_box{
  /* border: 2px solid black; */
  margin: 25px 0 0;
}

.syllabus_heading{
  color: rgb(69, 69, 69);
  margin: 10px 0;
}

.syllabus_score{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.syllabus_bar{
  position: relative;
  width: 200px;
  height: 10px;
  border-radius: 1rem;
  background-color: rgba(13, 92, 212, .2);
}

.syllabus_bar_fill{
  position: absolute;
  height: 100%;
  border-radius: 1rem;
  background-color: #ff000030;
}

.fill1{
  animation: fillbar1 1s linear;
}

.fill2{
  animation: fillbar2 1s linear;
}

.fill3{
  animation: fillbar3 1s linear;
}

.fill4{
  animation: fillbar4 1s linear;
}

.syllabus_score_value{
  color: rgb(67, 138, 246);
  font-weight: 600;
  font-size: 18px;
}


/* question analysis */

.question_analysis > p{
  
}